*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    color: #333;
}

.container{
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
}

header{
    background-color: #2c3e50;
    color: #fff;
    padding: 20px 0;
    position: fixed;
    width: 100%;
}

header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo h1{
    font-size: 1.8rem;
}

.logo span{ 
    color: #3498db;
}

nav ul{
    display: flex;
    list-style: none;
}

nav li{
    margin-right: 20px;
}

nav a{
    font-size: 1rem;
    color: #fff;
    text-decoration: none;
    transition: color 0.5s ease;
}

nav a:hover{
    color: #3498db;
}

#hero{
    padding-top: 80px;
    background: linear-gradient(rgba(44, 62, 80, 0.7), rgba(44, 62, 80, 0.7)), url(new-york-city-dark-cityscape-at-night-best-desktop-wallpapers-of-2025-collection-for-mac-and-pc-4k-6k-15-03-2025-1742079631-hd-wallpaper.jpeg);
    height: 100vh;
    background-size: cover;
    background-position: center;
    color: #fff;
    display: flex;
    align-items: center;
    text-align: center;
}

.hero-content h2{
    font-size: 2.5rem;
    margin: 20px;
}

.hero-content p{
    font-size: 1.5rem;
    margin: 10px;
}

.hero-content .event-date{
    font-size: 1.2rem;
    margin: 30px;
}

.btn{
    background-color: #3498db;
    color: #fff;
    text-decoration: none;
    display: inline-block;
    padding: 12px 30px;
    border-radius: 10px;
    font-size: 1.2rem;
    transition: background-color 0.5s ease;
}

.btn:hover{
    background-color: #2980b9;
}